"*":
  core:
    customFileTypes:
      "source.ruby": [
        "Vagrantfile"
      ]
    disabledPackages: [
      "cursor-history"
      "open-this"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "wombat-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "ec760885-d964-40ee-8740-306826d97f43"
  "markdown-preview":
    breakOnSingleNewline: true
  "relative-numbers":
    showAbsoluteNumbers: true
    startAtOne: true
    trueNumberCurrentLine: false
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: true
    ignoreWhitespaceOnCurrentLine: true
    removeTrailingWhitespace: true
".makefile.source":
  editor:
    tabLength: 8
