#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#

'atom-text-editor':
  # command palette
  ', p': 'command-palette:toggle'
  ', c': 'command-palette:toggle'
  # file/buffer/symbols palette
  ', b': 'fuzzy-finder:toggle-buffer-finder'
  ', f': 'fuzzy-finder:toggle-file-finder'
  ', g': 'fuzzy-finder:toggle-git-status-finder'
  ', f s': 'symbols-view:toggle-file-symbols'
  ', p s': 'symbols-view:toggle-project-symbols'
  ', s a': 'snippets:available'

  # others
  ', t v': 'tree-view:toggle'

  ', g t': 'github:toggle-git-tab'
  ', g o': 'open-on-github:file'
  ', g h': 'open-on-githb:history'
  ', g c': 'open-on-github:copy-url'

  # markdown preview
  ', m p': 'markdown-preview:toggle'
  ', m g': 'mardown-prview:toggle-github-style'

  # close window
  ', q': 'core:close'
  'Z Z': 'core:close'

  # tab next/previous
  'gt': 'pane:show-next-item'
  'gT': 'pane:show-previous-item'

  # panel/split navigation
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-j': 'window:focus-pane-below'

  # folding
  ', f 0': 'editor:fold-all'
  ', f 9': 'editor:unfold-all'
  ', f 1': 'editor:fold-at-indent-level-1'
  ', f 2': 'editor:fold-at-indent-level-2'
  ', f 3': 'editor:fold-at-indent-level-3'

'atom-text-editor.vim-mode-plus.normal-mode':
  # select to the end of line
  'Y': 'keystroke y $'
  # join line above (oppsite of J)
  'K': 'keystroke d d k p J'
