# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson

# https://github.com/Kesin11/atom-vim-like-tab
# '.editor.vim-mode-plus:not(.insert-mode)':
#   'g t': 'atom-vim-like-tab:next'
#   'g T': 'atom-vim-like-tab:previous'

# 'body':
#   'gt': 'pane:show-next-item'
#   'gT': 'pane:show-previous-item'

'atom-text-editor':
  # command palette
  ', p': 'command-palette:toggle'
  ', c': 'command-palette:toggle'
  # file/buffer/symbols palette
  ', b': 'fuzzy-finder:toggle-buffer-finder'
  ', f': 'fuzzy-finder:toggle-file-finder'
  ', g': 'fuzzy-finder:toggle-git-status-finder'
  ', f s': 'symbols-view:toggle-file-symbols'
  ', p s': 'symbols-view:toggle-project-symbols'

  # others
  ', u': 'encoding-selector:show'
  ', g s': 'grammar-selector:show'
  ', t v': 'tree-view:toggle'

  ', g t': 'github:toggle-git-tab'
  ', g o': 'open-on-github:file'
  ', g h': 'open-on-github:history'
  ', g c': 'open-on-github:copy-url'

  # markdown preview
  ', m p': 'keystroke ctrl-shift-m'

  # tab next/previous
  'gt': 'pane:show-next-item'
  'gT': 'pane:show-previous-item'
  # panel/split navigation
  'ctrl-h': 'keystroke ctrl-w h'
  'ctrl-l': 'keystroke ctrl-w l'
  'ctrl-j': 'keystroke ctrl-w j'
  'ctrl-k': 'keystroke ctrl-w k'
  # folding
  ', f 0': 'keystroke cmd-k cmd-1'
  ', f 1': 'keystroke cmd-k cmd-1'
  ', f 2': 'keystroke cmd-k cmd-2'
  ', f 9': 'keystroke cmd-k cmd-9'

'atom-text-editor.vim-mode-plus.normal-mode':
  # close window
  ', q': 'keystroke cmd-w'
  'Z Z': 'keystroke cmd-w'
  # select to the end of line
  'Y': 'keystroke y $'
  'K': 'keystroke d d p k J'
