# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson

# https://github.com/Kesin11/atom-vim-like-tab
# '.editor.vim-mode-plus:not(.insert-mode)':
#   'g t': 'atom-vim-like-tab:next'
#   'g T': 'atom-vim-like-tab:previous'

# 'body':
#   'gt': 'pane:show-next-item'
#   'gT': 'pane:show-previous-item'

'atom-text-editor':
  # tab next/previous
  'gt': 'pane:show-next-item'
  'gT': 'pane:show-previous-item'
  # command pallete
  ', p': 'keystroke cmd-shift-p'
  ', c': 'keystroke cmd-shift-p'
  # file/buffer/tab pallete
  ', f': 'keystroke cmd-p'
  ', b': 'keystroke cmd-b'
  ', t': 'keystroke cmd-t'
  # tree view
  ', t v': 'keystroke cmd-\\'
  # git tab
  ', g t': 'keystroke ctrl-shift-9'
  # markdown preview
  ', m p': 'keystroke ctrl-shift-m'
  # panel/split navigation
  'ctrl-h': 'keystroke ctrl-w h'
  'ctrl-l': 'keystroke ctrl-w l'
  'ctrl-j': 'keystroke ctrl-w j'
  'ctrl-k': 'keystroke ctrl-w k'

'atom-text-editor.vim-mode-plus.normal-mode':
  # close window
  ', q': 'keystroke cmd-w'
  'Z Z': 'keystroke cmd-w'
  # select to the end of line
  'Y': 'keystroke y $'
  
